Labfiles/01-analyze-text/Python/text-analysis/.env

.fake
Labfiles/02-qna/C-Sharp/qna-app/appsettings.json
Labfiles/03-language/C-Sharp/clock-client/appsettings.json
Labfiles/04-text-classification/C-Sharp/classify-text/appsettings.json
Labfiles/05-custom-entity-recognition/C-Sharp/custom-entities/appsettings.json
Labfiles/06b-translator-sdk/C-Sharp/translate-text/appsettings.json
